

    <ul>
        <li><a href="/">Index</a></li>
        <li><a href = "/seefiles">files</a></li>
        <li><a href = "/uploadfiles">upload a file</a></li>
        <li><a href = "/folders">folders</a></li>
    </ul>    

